.projects {
  &__note {
    font-size: 14px;
    color: #8e8e8e;
  }

  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  &__listItem {
    margin: 250px 0;
  }
}

.project {
  &__title {
    margin: 8px 0;
  }

  &__logo {
    --width: 30px;
    display: flex;

    svg {
      width: var(--width);
      height: var(--height, auto);
    }
  }

  &__divider {
    width: 100%;
    height: 1px;
    background-color: #f1f0f0;
    margin: 16px 0;
  }
}

.horizontalList {
  list-style: none;
  padding: 0;
  margin: 0;

  &__item {
    font-size: 14px;
    display: inline-block;

    &:not(:last-child) {
      &::after {
        content: "\00B7";
        margin: 5px;
      }
    }
  }
}
