.link {
  --accent: #ffeb6c;
  --accent-hover: #f7d708;

  text-decoration: none;
  color: inherit;
  position: relative;

  &__children {
    display: inline-block;
    position: relative;
    z-index: 1;
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: var(--accent);
    height: 0.625em;
    width: 100%;
  }

  &:hover {
    &::after {
      background-color: var(--accent-hover);
    }
  }
}
